<html>
    <head>
        <link rel="stylesheet" href="stylesheets/kalture-theme.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        Kaltura Node Template
    </body>
</html>