<html>

<head>
    <link rel="stylesheet" href="stylesheets/kaltura-theme.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
<a href="https://developer.kaltura.com/console/service/attachmentAsset/action/serve">See attachmentAsset.serve</a>
<pre><%=json_result%></pre>
</body>

</html>